<mat-toolbar color="primary" class="custom-toolbar" class="mat-elevation-z8">
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span fxFlex fxShrink="0" fxGrow="1">AngularAdv</span>
  <img class="avatar" src="../assets/images/avatar.jpg" alt="">
</mat-toolbar>
<mat-sidenav-container [hasBackdrop]="false" class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]=" 'dialog'" [mode]="'side'">
    <div class="container-menu-sideBar ">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item href="#">Link 1</a>
        <a mat-list-item href="#">Link 2</a>
        <a mat-list-item href="#">Link 3</a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
