<breadcrumb Title="Table"></breadcrumb>


<div class="container">
  <div class="info">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="container-table">
    <div class="test mat-elevation-z2">
      <div class="actions">
        <button mat-raised-button color="primary">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-raised-button color="primary">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-raised-button color="primary">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>

      <div class="table scroll-width  ">
        <div>
          <mat-divider></mat-divider>
          <div class="example-loading-shade" *ngIf="isLoadingResults ">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>

          </div>
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <!-- Checkbox Column -->
            <!-- <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
              </td>
            </ng-container> -->

            <!-- Position Column -->
            <ng-container matColumnDef="casBareme">
              <th mat-header-cell *matHeaderCellDef> casBareme </th>
              <td mat-cell *matCellDef="let element"> {{element.casBareme}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="client">
              <th mat-header-cell *matHeaderCellDef> client </th>
              <td mat-cell *matCellDef="let element"> {{element.client}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="compagnie">
              <th mat-header-cell *matHeaderCellDef> compagnie </th>
              <td mat-cell *matCellDef="let element"> {{element.compagnie}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="compagnieAdv">
              <th mat-header-cell *matHeaderCellDef> compagnieAdv </th>
              <td mat-cell *matCellDef="let element"> {{element.compagnieAdv}} </td>
            </ng-container>
            <ng-container matColumnDef="dateAccident">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> dateAccident </th>
              <td mat-cell *matCellDef="let element"> {{element.dateAccident | date:'dd-MM-yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="dateMEC">
              <th mat-header-cell *matHeaderCellDef> dateMEC </th>
              <td mat-cell *matCellDef="let element" mat-sort-header> {{element.dateMEC | date:'dd-MM-yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="dateOM">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> dateOM </th>
              <td mat-cell *matCellDef="let element"> {{element.dateOM | date:'dd-MM-yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="expert">
              <th mat-header-cell *matHeaderCellDef> expert </th>
              <td mat-cell *matCellDef="let element"> {{element.expert}} </td>
            </ng-container>
            <ng-container matColumnDef="intermediaire">
              <th mat-header-cell *matHeaderCellDef> intermediaire </th>
              <td mat-cell *matCellDef="let element"> {{element.intermediaire}} </td>
            </ng-container>
            <ng-container matColumnDef="matricule">
              <th mat-header-cell *matHeaderCellDef> matricule </th>
              <td mat-cell *matCellDef="let element"> {{element.matricule}} </td>
            </ng-container>
            <ng-container matColumnDef="matriculeAdv">
              <th mat-header-cell *matHeaderCellDef> matriculeAdv </th>
              <td mat-cell *matCellDef="let element"> {{element.matriculeAdv}} </td>
            </ng-container>
            <ng-container matColumnDef="nPolice">
              <th mat-header-cell *matHeaderCellDef> nPolice </th>
              <td mat-cell *matCellDef="let element"> {{element.nPolice}} </td>
            </ng-container>
            <ng-container matColumnDef="vehicule">
              <th mat-header-cell *matHeaderCellDef> vehicule </th>
              <td mat-cell *matCellDef="let element"> {{element.vehicule}} </td>
            </ng-container>
            <ng-container matColumnDef="typeDossier">
              <th mat-header-cell *matHeaderCellDef> typeDossier </th>
              <td mat-cell *matCellDef="let element"> {{element.typeDossier}} </td>
            </ng-container>
            <ng-container matColumnDef="numSinistre">
              <th mat-header-cell *matHeaderCellDef> numSinistre </th>
              <td mat-cell *matCellDef="let element"> {{element.numSinistre}} </td>
            </ng-container>
            <ng-container matColumnDef="garagiste">
              <th mat-header-cell *matHeaderCellDef> garagiste </th>
              <td mat-cell *matCellDef="let element"> {{element.garagiste}} </td>
            </ng-container>
            <ng-container matColumnDef="nordre">
              <th mat-header-cell *matHeaderCellDef> nordre </th>
              <td mat-cell *matCellDef="let element"> {{element.nordre}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
          </table>
        </div>
      </div>
      <div class="pagination">
        <mat-divider></mat-divider>

        <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
        <mat-divider></mat-divider>
      </div>
    </div>
  </div>
</div>
